@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .gallery-grid {
    column-count: 2;
    column-gap: 1rem;
  }
  @media (min-width: 768px) {
    .gallery-grid {
      column-count: 3;
    }
  }
  @media (min-width: 1024px) {
    .gallery-grid {
      column-count: 4;
    }
  }
  @media (min-width: 1280px) {
    .gallery-grid {
      column-count: 5;
    }
  }
  @media (min-width: 1536px) {
    .gallery-grid {
      column-count: 6;
    }
  }
  .gallery-item {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
}
